<% if (!screen_name) {%>
    <p>Welcome! Please <a href="/twitter/authorize">log in with authorize</a>.</p>
<% } else { %>

    <h1>Hello <%= screen_name %></h1>
        <br>
        <a href="/twitter/logout">logout</a>

<% } %>